<nav class="relative z-10 flex items-center justify-between flex-wrap p-4 bg-gray-800 text-white shadow">
  <!-- Left: Logo -->
  <div class="flex items-center space-x-2">
    <a routerLink="/" class="text-lg font-bold hover:underline">Service Portal</a>
  </div>

  <!-- Center: Links -->
  <div class="flex items-center space-x-4">
    <a *ngIf="role === 'customer'" routerLink="/user/submit-request" class="hover:underline">Submit Request</a>
    <a *ngIf="role === 'customer'" routerLink="/user/request-status" class="hover:underline">Status</a>
    <a *ngIf="role === 'admin'" routerLink="/admin/request-list" class="hover:underline">View Requests</a>
    <a *ngIf="role === 'technician'" routerLink="/technician/assigned-jobs" class="hover:underline">View Assigned
      Jobs</a>
  </div>

  <!-- Right: Role Display -->
  <div *ngIf="!!role" class="bg-gray-600 text-white px-3 py-1 space-x-2 rounded">
    <span class="text-white">{{ role }}:</span>
    <span class="text-white italic">{{ name }}</span>
  </div>
  <!-- Right: Logout Login Button -->
   @if (role) {
  <button (click)="logout()" class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600">
    Logout
  </button>
  }@else {
  <a *ngIf="currentPage() !== '/login'" routerLink="/login" class="bg-blue-500 text-white px-3 py-1 rounded hover:bg-blue-600">
    Login
  </a>  
  }
</nav>